:root {
  /* Escala de Cinza (Fundo escuro, texto claro - Vibe Night City) */
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #a1a1aa;
  --gray-400: #71717a;
  --gray-500: #52525b;
  --gray-600: #3f3f46;
  --gray-700: #27272a;
  --gray-800: #18181b;
  --gray-900: #09090b;

  /* Cores Principais (David Martinez Jacket) */
  --primary-light: #fdf457;
  --primary: #fcee0a; /* Amarelo da Jaqueta */
  --primary-dark: #bdae00;

  --link-color: #39ff14; /* Verde Neon da Gola/Logo */
  --link-hover: #2db80d;

  /* Status e Alertas */
  --success: #39ff14; /* Verde Neon */
  --warning: #ff8a00;
  --error: #ff003c;   /* Vermelho Arasaka */
  --info: #39ff14;    /* Verde Neon */

  /* Contraste de Texto sobre as Cores */
  --text-over-primary: #000000;
  --text-over-primary-dark: #f4f4f5;
  --text-over-primary-light: #000000;
  --text-over-success: #000000; /* Texto preto sobre o verde neon para dar leitura */
  --text-over-warning: #000000;
  --text-over-error: #ffffff;
  --text-over-info: #000000;

  /* Textos e Estados */
  --text-default: #f4f4f5;
  --text-muted: #a1a1aa;

  --disabled: #3f3f46;
  --text-disabled: #71717a;
}

/* Quando a tag :root (html) tiver o atributo data-theme='light' */
:root[data-theme='light'] {
  /* Inversão da Escala de Cinza (Fundo claro estilo laboratório da Arasaka) */
  --gray-100: #09090b;
  --gray-200: #18181b;
  --gray-300: #27272a;
  --gray-400: #3f3f46;
  --gray-500: #52525b;
  --gray-600: #71717a;
  --gray-700: #a1a1aa;
  --gray-800: #e4e4e7;
  --gray-900: #f4f4f5; /* Fundo principal claro */

  --text-default: #09090b;
  --text-muted: #3f3f46;

  /* =========================================================
     🟢 TEMA CLARO DAVID MARTINEZ: Ativando o Verde EMS da Jaqueta
     ========================================================= */
  --primary: #00b34a;               /* Verde Neon ajustado para leitura perfeita no claro */
  --primary-light: #00cc55;
  --primary-dark: #008035;
  --text-over-primary: #ffffff;     /* Texto branco dentro do botão verde */

  --link-color: #00b34a; 
  --link-hover: #008035;
  
  --success: #00b34a;
  --warning: #ff8a00;
  --error: #ff003c;                 /* Mantém o Vermelho de Alerta */
  --text-over-error: #ffffff;
  --info: #00b34a;
}